@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --cor-primaria: rgb(33, 31, 146);
  --cor-secundaria: rgb(44, 101, 187);
  --cor-primaria-light: #242926;
  --cor-secundaria-light: #d2d5e0;
  --cor-primaria-dark: #faf8f1;
  --cor-secundaria-dark: #0d7377;
  --light: #d8dbe0;
  --dark: #28292c;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/*header*/

header {
  display: block;
  background-color: var(--cor-primaria);
  background-image: linear-gradient(
    to right,
    var(--cor-primaria),
    var(--cor-secundaria)
  );
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

h1 {
  color: var(--cor-primaria-dark);
  font-size: 55px;
}

.container-link {
  text-align: center;
}

.flex-container,
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--cor-secundaria);
  font-size: 8px;
}

nav {
  padding: 5px;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  gap: 3rem;
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-right: 2rem;
  list-style: none;
  flex-wrap: wrap;
  color: var(--cor-primaria-dark);
  font-size: 15px;
}

input {
  height: 25px;
  width: 100px;
  border: 1px solid black;
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
}

.botao {
  border: 2px solid var(--cor-primaria-dark);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  transition: 0.7s;
  cursor: pointer;
}

.botao:hover {
  color: var(--cor-primaria);
  background-color: var(--cor-secundaria);
  transition: 0.5s;
  border: 2px solid var(--cor-primaria);
}

.imagem-logo {
  width: 12%;
}

figcaption {
  color: #555;
  font-size: 10px;
  padding: 1px 5px 5px 8px;
}

h2 {
  color: var(--cor-secundaria);
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: none;
  padding: 5px 8px;
  cursor: pointer;
}

p {
  padding: 5px 8px;
  text-align: justify;
  font-size: 13px;
}

article {
  border: 1px solid var(--cor-secundaria);
  flex-wrap: wrap;
  width: 350px;
  height: 380px;
}

footer,
.footer-text {
  background-color: var(--cor-primaria);
  background-image: linear-gradient(
    to right,
    var(--cor-primaria),
    var(--cor-secundaria)
  );
  color: white;
  text-align: center;
  font-size: 8px;
  padding: 5px;
}

a {
  color: var(--cor-primaria-dark);
  outline: none;
  list-style: none;
  text-decoration: none;
}
a:hover {
  color: var(--cor-primaria);
  background-color: var(--cor-secundaria);
  transition: 0.5s;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

img {
  width: 348px;
}

main {
  padding: 30px;
}

.figure {
  width: 450px;
  height: auto;
}

.dark {
  background-color: #212121;
  color: var(--cor-primaria-dark);
}

.darkText {
  color: var(--cor-primaria-dark);
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 35px;
  background: var(--dark);
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
  background: rgb(255, 255, 255);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--light);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 0px;
}
