@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --cor-primaria: rgb(29, 28, 121);
  --cor-secundaria: rgb(172, 30, 5);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

header {
  display: block;
  background-color: var(--cor-primaria);
  background-image: linear-gradient(
    to right,
    var(--cor-primaria),
    var(--cor-secundaria)
  );
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

h1 {
  color: white;
}

.container-link {
  text-align: center;
}

.flex-container,
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--cor-secundaria);
  font-size: 8px;
}

nav {
  padding: 5px;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  gap: 3rem;
  text-decoration: none;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-right: 2rem;
  list-style: none;
  flex-wrap: wrap;
  color: white;
}

/*
input {
  height: 30px;
  width: 135px;
  border: 1px solid black;
  border-radius: 20px;
  font-weight: bold;
  background-color: var(--cor-primaria);
  text-align: center;
  color: rgba(255, 255, 255, 0.726);
}
*/
.botao {
  border: 2px solid white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  transition: 0.7s;
  cursor: pointer;
}

.botao:hover {
  color: var(--cor-primaria);
  background-color: var(--cor-secundaria);
  transition: 0.5s;
  border: 2px solid var(--cor-primaria);
}

.imagem-logo {
  width: 12%;
}

img {
  width: 100%;
}

figcaption {
  color: #555;
  font-size: 10px;
  padding: 1px 5px 5px 8px;
}

h2 {
  color: var(--cor-secundaria);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: none;
  padding: 5px 8px;
  cursor: pointer;
}

p {
  color: #333;
  padding: 5px 8px;
  text-align: justify;
  font-size: 10px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 90px 10px 90px;
}

article {
  border: 1px solid var(--cor-secundaria);
  margin: 8px 8px 2px 8px;
}

footer,
.footer-text {
  background-color: var(--cor-primaria);
  background-image: linear-gradient(
    to right,
    var(--cor-primaria),
    var(--cor-secundaria)
  );
  color: white;
  text-align: center;
  font-size: 8px;
  padding: 5px;
}

a {
  color: white;
}
a:hover{
  color: var(--cor-primaria);
  background-color: var(--cor-secundaria);
  transition: 0.5s;
  border: 2px solid var(--cor-primaria);
}

@media (min-width: 768px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  p,
  h2,
  nav {
    font-size: 15px;
  }

  h1 {
    font-size: 40px;
  }
  figcaption {
    font-size: 14px;
  }

  .imagem-logo {
    width: 15%;
  }
}

@media (min-width: 1024px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
  }

  p,
  h2,
  nav {
    font-size: 16px;
  }

  h1 {
    font-size: 47px;
  }
  figcaption {
    font-size: 17px;
  }

  .imagem-logo {
    width: 15%;
  }
  
}

@media (min-width: 1200px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
  }

  p,
  h2,
  nav {
    font-size: 16px;
  }

  h1 {
    font-size: 46px;
  }
  figcaption {
    font-size: 17px;
  }

  .imagem-logo {
    width: 12%;
  }
}
